<!-- Navbar -->

  <nav class="navbar fixed-top custom-toggler navbar-expand-lg p-md-3 py-3">
    <div class="container pt-2 pb-2">
      <a class="navbar-brand fs-4" href="/">
        <img src="/assets/images/logo.png" width="50" height="30" class="d-inline-block align-top" alt="">
        Green Earth</a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ms-auto">
          <li class="nav-item {{ home }}">
            <a class="nav-link customNavLink" href="/">Home</a>
          </li>
          <li class="nav-item {{ products }}">
            <a class="nav-link customNavLink" href="/products">Products</a>
          </li>
          <li class="nav-item {{ articles }}">
            <a class="nav-link customNavLink" href="/articles">Articles</a>
          </li>
          <li class="nav-item {{ contact }}">
            <a class="nav-link customNavLink" href="/contact">Contact</a>
          </li>
          <li class="nav-item {{ about }}">
            <a class="nav-link customNavLink" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>