<div class="{{ banner }} shadow">
      <div class="product-hero-content">
        <p style="border-bottom: 3px solid #519259;" >{{ description }}</p>
        <h1 class="product-hero-text">{{ header }}</h1>
      </div>
  </div>