<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom" style="color:#519259;">Green Earth Products</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/assets/images/product1.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <a href="/products/#p1" style="text-decoration:none; color:white;"><h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">သဘာ၀မြေဆွေး</h2></a>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <p>2.5kg/1200ကျပ်</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/assets/images/product2.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <a href="/products/#p2" style="text-decoration:none; color:white;"><h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">အုန်းဆံမှုန့်</h2></a>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <p>2.5kg/700ကျပ်</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/assets/images/product4.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <a href="/products/#p3" style="text-decoration:none; color:white;"><h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">အပင်နှင့်မြေသားအားဆေးရည်</h2></a>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <p>100ml/1000ကျပ်</p>
              </li>
              <li class="me-auto">
                <p>500ml/5000ကျပ်</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>