<!-- My Products -->
 <div>
  <div class="container product-header mb-5" id="products">
    <h2><span style="color: #519259; border-bottom: 2px solid #519259;">Green Earth</span> Products</h2>
  </div>
  <div class="container">
    <div class="row text-start align-items-center gy-5 my-4">
      <div class="col-12 col-md-4">
        <img id="p1" class="product-image w-100 h-100" src="/assets/images/product1.jpeg" alt="">
      </div>
      <div class="col-12 col-md-8">
        <h2 class="display-6 mb-3" style="color: #519259;">သဘာ၀မြေဆွေး
        </h2>
        <p class="product-info lh-lg">ဒီမြေဆွေးဘာကြောင့် ကောင်းလဲ? သဘာဝမြေဆွေး...သဘာဝအတိုင်းပဲ.ဓာတုပစ္စည်းကင်းတယ်.
          ဘာပင်ပဲစိုက်စိုက် အဆင်ပြေတယ်.
          မပွင့် မသီး အားနည်းနေလို့ ဒီမြေဆွေးသုံးလိုက်ရင်
          သိသိသာသာ အပင်သန်တယ် ပွင့်တယ် သီးတယ်.စစိုက်တည်းကသာ ဒီမြေဆွေးသုံးစိုက်ရင်
          အခြား ဘာအပင်အားဆေးမှ တကူးတကသုံးဖို့မလို
          သူ့အချိန်နဲ့သူ ကြီးထွားမယ် ပွင့်တယ် သီးတယ်.
        </p>
        <h5 class="mb-4">2.5kg / 1200 ကျပ်</h5>
      </div>
    </div>
    <hr class="product-hr">
    <div class="row text-start align-items-center gy-5 my-4">
      <div class="col-12 col-md-8">
        <h2 id="p2" class="display-6 mb-3" style="color: #519259;">အုန်းဆံမှုန့်
        </h2>
        <p class="product-info lh-lg">အပင်ကိုင်းကူးချင်တဲ့သူတွေ
          သစ်ခွ ဝါသနာရှင်တွေ နဲ့
          ချိတ်ဆွဲအပင်အိုး စိုက်ထားသူတွေအတွက်
          အုန်းဆံမှုန့်လေးလည်း ရှိပါတယ်.
          အုန်းဆံမှုန့်ဆိုတာ...အမြစ်ထိုးရအလွယ်ဆုံးဖြစ်ပါတယ်.
          ဒါကြောင့် အမြစ်ထွက်ဖို့ မြန်မြန်လိုအပ်တဲ့
          ကိုင်းကူးခြင်း နဲ့ သစ်ခွ ပန်းအိုးလဲခြင်းတို့မှာ
          အသုံးပြုကြပါတယ်.</p>
        <h5 class="mb-4">2.5kg / 700 ကျပ်</h5>
      </div>
      <div class="col-12 col-md-4">
        <img class="product-image  w-100" src="/assets/images/product2.jpeg" alt="">
      </div>
    </div>
    <hr class="product-hr">
    <div class="row text-start align-items-center gy-5 my-4">
      <div class="col-12 col-md-4">
        <img id="p3" class="product-image w-100 h-100" src="/assets/images/product4.jpeg" alt="">
      </div>
      <div class="col-12 col-md-8">
        <h2 class="display-6 mb-3" style="color: #519259;">အပင်နှင့်မြေသားအားဆေးရည်
        </h2>
        <p class="product-info lh-lg">တောင်သူတိုင်းအတွက် ...သဘာဝ လယ်ယာ၊ကိုင်း၊ခြံ၊ ဥယျာဥ်ခြံသုံး အပင်နှင့်မြေသား အားဆေးရည်... စိုက်ပျိုးရေးအတွက် ကိုယ်တိုင် ပြုလုပ်ကြတဲ့ ကောက်ရိုးဆွေး အမှိုက်ဆွေး သစ်ရွက်ဆွေး မြေသြဇာတွေမှာ ထည့်သုံးပါကလည်း ဆွေးမြေ့နှုန်းကော အာဟာရဓာတ်ပါဝင်မှုပါ ပိုမိုကောင်းမွန်စေတာမို့ စိုက်ပျိုးရေးလုပ်ပြီဆိုတာနဲ့ လုံးဝအသုံးတည့်စေမယ့် ဘက်စုံသုံး ဆေးရည်ဖြစ်ပါလိမ့်မယ်.
        </p>
        <h5 class="mb-4">100ml / 1000 ကျပ်</h5>
        <h5 class="mb-4">500ml / 5000 ကျပ်</h5>
      </div>
    </div>

  </div>
</div>