<div class="mt-5 about-sec" style="font-weight: lighter;">
        <ul class="product-list">
          <li>
            <p><i class="fa-solid fa-chevron-right"></i>အိမ်ကအပင်တွေက နေရောင်လည်း ရပါတယ်
              ရေလည်းလောင်းပါတယ် ဒါပေမယ့် အပင်တွေ မသန်ဘူး
              အဲလိုဖြစ်နေလား...?
            </p>
          </li>
          <li>
            <p><i class="fa-solid fa-chevron-right"></i>
              ပန်းအိုးထဲက မြေကြီးတွေ
              ရွှံ့တွေ ကျောက်ခဲတွေချည်းဖြစ်နေပြီး
              မြေကောင်းတာရှာမရလို့ စိတ်ညစ်နေလား...?
            </p>
          </li>
          <li>
            <p><i class="fa-solid fa-chevron-right"></i>
              ပန်းအိုးထဲ ရေဝပ်ပြီး အမြစ်တွေ ပုပ်လို့
              အရွက်တွေ ဝါနေပလား...?
            </p>
          </li>
          <li>
            <p><i class="fa-solid fa-chevron-right"></i>
              ဒါမှ မဟုတ် ကိုယ့်အပင်လေးတွေအတွက်
              ဘာဓာတုပစ္စည်းမှ မပါတဲ့
              သဘာဝမြေသြဇာ ကောင်းကောင်း ရှာနေတာလား... ?
            </p>
          </li>
          <li>
            <p><i class="fa-solid fa-chevron-right"></i>
              အပင်တစ်ပင် ကောင်းကောင်းဖြစ်ဖို့
              နံပတ် တစ် လိုအပ်ချက်က မြေကြီးကောင်းဖို့ပါ...
            </p>
          </li>
  
          <li>
            <p><i class="fa-solid fa-chevron-right"></i>
              မြေသာကောင်းရင် ဘာအားဆေးမှ မကျွေးတောင်
              အပင်သန်ပါတယ်...
            </p>
          </li>
          <li>
            <p><i class="fa-solid fa-chevron-right"></i>
              <span style="color:#519259">
                Green Earth Product </span>တွေကိုစမ်းသုံးကြည့်ပါ
              အဆင်ပြေစေရမယ်...</p>
          </li>
        </ul>
      </div>