---
title: GreenEarth - Articles
articles: active
header: Recent Articles
description: ART OF GARDENING
banner: articles-hero
layout: base.njk
---


<!-- Banner Imange -->
{% include 'pages-banner.njk' %}


<div class="container mt-5">


    {%- for post in collections.post | reverse -%}

        <div class="row text-start align-items-center gy-5 my-4">
      

      <div class="col-12 col-md-3">
        <a href="{{ post.url }}"><img class="img-fluid" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
      </div></a>


      <div class="col-12 col-md-9">
        <a href="{{ post.url }}" style="color:black; text-decoration:none;"><h3 class="mb-3">{{ post.data.title }}</h3></a>
        <p class="mb-4 snippet__meta">by <span>{{post.data.author}}</span> on <span>{{ post.date | postDate }}</span></p>
        <p class="lh-lg">{{ post.data.description }}
        </p>
        
        <a href="{{ post.url }}" class="btn btn-outline-success">Read More</a>
      </div>

      
      
    </div>
    <hr class="product-hr">

        {%- endfor -%}
        </div>