---
title: GreenEarth - Contact
contact: active
header: Contact Me
description: GET 24/7 SUPPORT
banner: contact-hero
layout: base.njk
---

<!-- Banner Imange -->
{% include 'pages-banner.njk' %}

<div class="container mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="-contact-form-title">
          <h2>Interested in GreenEarth Products?</h2>
          <br>
          <p class="lh-lg">အိမ်က အပင်လေးတွေနဲ့ ပတ်သက်ပြီး ပြသနာတစ်စုံတစ်ရာ ရှိနေလို့ သိချင်တိုင်ပင်ချင်လို့ပဲဖြစ်ဖြစ် မြေဆွေးမှာယူချင်လို့ပဲ ဖြစ်ဖြစ် အချိန်မရွေးဆက်သွယ်နိုင်ပါတယ်ဗျ.</p>
        </div>
        <br>
        <div class="contact-form">
          <form onsubmit="sendEmail(); reset(); return false;">
            <div class="md-form mb-3">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
                        </div>
            
            <div class="md-form mb-3">
                            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
                        </div>

            <div class="md-form mb-3">
                            <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" required>
                        </div>
             <div class="md-form mb-3">
                            <textarea type="text" id="message" name="message" cols="30" rows="10" placeholder="Message" required class="form-control md-textarea"></textarea>
                        </div>

              <button type="submit" class="btn btn-success">Send</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-form-wrap">
          <div class="contact-form-box">
            <h4><i class="fas fa-map"></i> Shop Address</h4>
            <p>441B Baker Street<br>
              Hinthada<br>
              Ayarwaddy</p>
          </div>
          <div class="contact-form-box">
            <h4><i class="far fa-clock"></i> Shop Hours</h4>
            <p>MON - FRIDAY: 8 to 9 PM<br>
              SAT - SUN: 10 to 8 PM</p>
          </div>
          <div class="contact-form-box">
            <h4><i class="fas fa-address-book"></i> Contact</h4>
            <p>Phone: +00 111 222 3333<br>
              Email: zayyaraung@greenearth.com<br>
              Facebook: Green Earth - Art of Gardening</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>