---
title: GreenEarth - Art of Gardening
home: active
layout: base.njk
---

  <!-- Banner Imange -->

  <div class="hero">
    <div class="container">
      <div class="hero-content">
        <h1 class="hero-text">Art of Gardening</h1>
        <p class="container-fluid mt-3 mb-5 lh-lg" style="font-weight: lighter; font-size : 20px;"><i class="fa-solid fa-quote-left"></i> To plant a garden is to believe in tomorrow. <i class="fa-solid fa-quote-right"></i></p>
        <p class="lh-lg">သစ်ပင် ပန်းပင်စိုက်ရတာ ဝါသနာတူတဲ့
          အပင်ချစ်သူ မိတ်ဆွေများအတွက်
          လက်လှမ်းမှီသလောက် ပန်းပင် သစ်ပင်တွေ အကြောင်း
          စိုက်ပျိုး နည်းတွေအကြောင်း မျှဝေသွားမယ်.</p>
        <div class="row mt-4">
          <div class="col-md-12 col-lg-12 col-sm-12 mb-3">
            <a href="/articles" class="btn btn-outline-success text-white btn-lg w-50">Articles</a>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 mb-3">
            <a href="#About"><i class="fa-solid fa-angle-down fa-2xl fa-fade"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- About Section -->
  <div class="about-header mt-0 mb-5" id="About">
    <h2><span style="color: #C0A080">Green Earth</span> ဘာလဲ ဘယ်လဲ?</h2>
      <!-- Products Discription -->
  {% include 'products-discription.njk' %}
    <div class="container">
            <a href="/contact" class="btn btn-outline-light btn-lg w-80 mx-3">Contact Me</a>
            <a href="/products" class="btn btn-success text-white btn-lg w-80 mx-3">My Products</a>
        </div>
  </div>




  <!-- My Products -->
  {% include 'product-carousel.njk' %}

  <!-- Features -->

  <div class="features container-fluid">
    <div class="container">
      <div class="row pb-3">
        <div class="col-md-4">
          <i class="fas fa-shipping-fast fa-2xl"></i>
          <h5>Free Delivery</h5>
          <p class="features-text lh-lg">ဟင်္သာတမြို့တွင်း ပို့ခ မပေးရပါ. အိမ်အရောက်ပို့ပါတယ်
            အခြားမြို့များကို ဆိုင်ရာ ကားဂိတ်မှပို့ပေးပါတယ်.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-bacteria fa-2xl"></i>
          <h5>
            Orgainc</h5>
          <p class="features-text lh-lg">Green Earth ရဲ့ သဘာဝ productတွေနဲ့
            chemical ကင်းစင်တဲ့ မြေဆီလွှာရရှိဖို့
            မျှော်လင့်ပါတယ်...😊</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-hand-holding-usd fa-2xl"></i>
          <h5>Seasonal Deals</h5>
          <p class="features-text lh-lg">ဆယ်ထုပ်ယူရင် မေတ္တာလက်ဆောင် တစ်ထုပ်.
            အထုပ်နှစ်ဆယ်ဆို သုံးထုပ်ပေးတယ်❗</p>
        </div>
      </div>
    </div>
  </div>